@font-face {
	font-family:"Proxima Nova";
	src:url("../fonts/ProximaNovaAltRegular.otf");
	font-weight:normal;
}
@font-face {
	font-family:"Proxima Nova";
	src:url("../fonts/ProximaNovaBold.otf");
	font-weight:bold;
}